.grid{
  width:200px;
  height:400px;
  background-color:beige;
  display:flex;
  flex-wrap:wrap;
}

.grid div{
  height:20px;
  width:20px;
  
}

.tetromino{
background-color:black;
}

.mini-grid{
  width:80px;
  height:80px;
  display:flex;
  flex-wrap:wrap;
  background-color:beige;
  margin-left:50px;
}

.mini-grid div{
  width:20px;
  height:20px;
  
}

.container{
  display:flex;

}